---
// Layout
import Layout from "../layouts/layout.astro";

// Components
import Cta from "../components/cta.astro";
import BtnCommen from "../components/btnCommen.astro";

// getting data from json
import projects from "../data/projects.json";
---

<!-- Main -->
<Layout title="Jamal's Portfolio | Portfolio">
  <!-- Main -->
  <main class="mt-16">
    <div class="container mx-auto px-4 space-y-28">
      {
        projects.map((project) => (
          <div class="flex flex-col gap-12 space-y-6 md:space-y-0 md:flex-row">
            <div class="md:w-1/2">
              <img
                src={project.img}
                alt="project-img"
                class="w-full h-auto shadow-lg rounded-lg"
              />
            </div>
            <div
              class={`space-y-6 py-8 border-t border-b border-gray-400 md:w-1/2 ${
                project?.reverse && "md:-order-1"
              }`}
            >
              <h2 class="text-darkGray font-heading font-semibold text-xl capitalize md:text-4xl">
                {project.title}
              </h2>
              <p class="text-darkGray opacity-80 text-justify">
                {project.desc}
              </p>
              <div class="flex gap-4">
                <a
                  href={project.live}
                  target="_blank"
                  class="bg-none text-darkGray text-xs sm:text-sm uppercase py-2 px-4 sm:px-6 inline-block border border-darkBorder hover:bg-darkGray hover:text-white shadow-lg"
                >
                  View Project
                </a>
                <a
                  href={project.code}
                  target="_blank"
                  class="bg-none text-darkGray text-xs sm:text-sm uppercase py-2 px-4 sm:px-6 inline-block border border-darkBorder hover:bg-darkGray hover:text-white shadow-lg"
                >
                  View Code
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </main>

  <!-- Cta -->
  <Cta />
</Layout>
